@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: white;
}

body {
  background-attachment: fixed;
  background-color: rgba(245, 245, 245, 0.855);
  overflow-x: hidden;
}

html {
  font-size: 100%;
  color: rgb(255, 255, 255);
}

.text_Center {
  text-align: center;
  font-size: 1.2em;
}

.logoBorder {
  width: 110px;
  height: 110px;
  border-radius: 15px;
}

@media (min-width: 1200px) {
  .boxForm2 {
    background-color: rgb(29, 27, 27);
    opacity: 1;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-right: 25%;
    padding: 70px 50px;
    width: 100%;
    height: auto;
    text-align: left;
    border: 1px solid rgb(51, 51, 51);
  }
  .boxFormiframe {
    background-color: rgb(29, 27, 27);
    opacity: 1;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    padding: 50px 50px;
    width: 100%;
    height: auto;
    text-align: left;
    border: 1px solid rgb(51, 51, 51);
  }
  .gridContainer {
    display: grid;
    grid-template-areas: "li li img" "p p img";
    background-color: rgb(29, 27, 27);
    margin-top: 25px;
    text-align: center;
    width: 100%;
    text-align: left;
  }
  .gridContainer Li {
    grid-area: li;
    font-size: 1.5em;
  }
  .gridContainer P {
    grid-area: p;
    font-size: 0.8em;
  }
  .gridContainer Img {
    grid-area: img;
  }
  .boxForm {
    background-color: rgb(29, 27, 27);
    opacity: 1;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    margin-right: 25%;
    padding: 70px 50px;
    width: 100%;
    height: auto;
    justify-content: space-between;
    text-align: left;
    border: 1px solid rgb(51, 51, 51);
  }
  section div h1 {
    text-align: center;
    font-display: flex;
  }
  section div h2 {
    text-align: center;
    font-display: flex;
  }
  .tittleBox {
    display: inline-block;
    width: 25px;
    height: 25px;
  }
  header {
    height: 20%;
    width: 100%;
    object-fit: contain;
  }
  .bg-grey {
    background-color: rgb(29, 27, 27);
  }
  .imgSize {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
  }
  .img {
    justify-content: right;
    width: 400px;
    height: auto;
    object-fit: contain;
  }
}
@media (max-width: 560px) {
  .gridContainer {
    display: grid;
    grid-template-areas: "img img img" "li li li" "p p p";
    background-color: rgb(29, 27, 27);
    margin-top: 25px;
    text-align: center;
    width: 100%;
    text-align: left;
  }
  .gridContainer Li {
    grid-area: li;
  }
  .gridContainer P {
    grid-area: p;
  }
  .gridContainer Img {
    grid-area: img;
  }
  .boxForm {
    background-color: rgb(29, 27, 27);
    opacity: 1;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-right: 25%;
    padding: 70px 50px;
    width: 100%;
    height: auto;
    justify-content: space-between;
    text-align: left;
    border: 1px solid rgb(51, 51, 51);
  }
  .boxForm2 {
    background-color: rgb(29, 27, 27);
    opacity: 1;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-right: 25%;
    padding: 70px 50px;
    width: 100%;
    height: auto;
    text-align: left;
    border: 1px solid rgb(51, 51, 51);
  }
  .boxFormiframe {
    background-color: rgb(29, 27, 27);
    opacity: 1;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 70px 50px;
    width: 100%;
    height: auto;
    text-align: center;
    border: 1px solid rgb(51, 51, 51);
  }
  .bg-grey {
    background-color: rgb(29, 27, 27);
  }
  .img {
    justify-content: right;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

/*# sourceMappingURL=main.css.map */
